{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Holiday Lets, Homes, Experiences &amp; Places - BookMyTrips</title>
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
</head>

<body>
    <div>
        <div class="header">
            {% include 'header.html' %}
            <div class="header-content">
                <div style="width: 50%;">
                    <div style="text-align:center;">
                        <h1>10,000+ Travel Experiences in 25+ Countries</h1>
                        <h3>BE THERE, DO THAT!</h3>
                    </div>
                    <div>
                        <form action="" method="POST">
                            {% csrf_token %} {{ form }}
                            <button class="btn btn-primary"  type="submit">Go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-container">
            <div class="intro-container-body">
                <div class="intro-container-element">
                    <div>
                        <img class="intro-container-image" src="https://colorlib.com/preview/theme/travello/images/beach.svg" alt="">
                    </div>
                    <div class="intro-container-text">
                        <p>
                            Top Destinations 
                        </p>
                        <p class="into-container-subtext">
                            10,000+ Travel Experiences in 25+ Countries
                        </p>
                    </div>
                </div>
                <div class="intro-container-element">
                    <div>
                        <img class="intro-container-image" src="https://colorlib.com/preview/theme/travello/images/wallet.svg" alt="">
                    </div>
                    <div  class="intro-container-text">
                        <p>
                            The Best Prices 
                        </p>
                        <p class="into-container-subtext">
                            Instant book with suppliers in real time
                        </p>
                    </div>
                </div>
                <div class="intro-container-element">
                    <div>
                        <img class="intro-container-image" src="https://colorlib.com/preview/theme/travello/images/suitcase.svg" alt="">
                    </div>
                    <div class="intro-container-text">
                        <p>
                            Amazing Services 
                        </p>
                        <p class="into-container-subtext">
                            With 98.7 CSAT we always exceed your expectations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if search %}
        <div class="search-container">
            <div class="search-container-title">
                <div>
                    search result(s)
                </div>
            </div>
            <!-- ----------------------------------------------------------------------------------- -->
            <div class="search-container-items">
                <div class="search-result-items">
                    {% for s in search %}
                    <div class="card" style="width:33%;">
                        <img src="{{ s.image }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ s.title }}</h5>
                            <p class="card-text">{{ s.cost }} <br>
                                <a href="/tour_id/{{s.id }}" class="btn btn-primary">Book Event</a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- ----------------------------------------------------------------------------------- -->
            </div> 
        </div>
    {% endif %}
    <div class="tour-container">
        <div>
            <div class="tour-container-title">
                simply amazing places
            </div>
            <div class="tour-container-main-title">
                <h2>Curated Travel Experiences Across The Globe</h2>
            </div>
        </div>
        <!-- ----------------------------------------------------------------------------------- -->
        <div class="tour-container-items">
            <div class="tour-result-items">
                {% for country in countries %}
                {% if country.name != 'India' %}
                <div class="card" style="width:33%;">
                    <img src="{{ country.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ country.name }}</h5>
                        <!-- <p class="card-text">{{country}} <br> -->
                            <a href="{% url 'main:tourselect' country.id %}" class="btn btn-primary">Explore</a>
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- ----------------------------------------------------------------------------------- -->
        </div> 
    </div>

    <div class="tour-container">
        <div>
            <div class="tour-container-main-title">
                <h2 style="text-align: center; padding-top:20px;">Popular Tours </h2>
            </div>
        </div>
        <!-- ----------------------------------------------------------------------------------- -->
        <div class="tour-container-items">
            <div class="tour-result-items">
                {% for tour in popular_tours %}
                <div class="card" style="width:33%;">
                    <img src="{{ tour.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ tour.title }}</h5>
                        <p class="card-text">{{ tour.cost }} <br>
                            <a href="/tour_id/{{tour.id }}" class="btn btn-primary">Book Event</a>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- ----------------------------------------------------------------------------------- -->
        </div> 
    </div>

    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>