<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Holiday Lets, Homes, Experiences &amp; Places - BookMyTrips</title>
</head>

<body>
    <div>
        <div style="background-image: url(https://a0.muscache.com/4ea/air/r:w1550-h1037-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg); height:600px; width:100%; background-size: 100% 100%;">
            {% include 'header.html' %}
            <div style="display: flex; justify-content:center; align-items:center; height:100%; flex-direction:column; color:white">
                <div style="width: 50%;">
                    <div style=" text-align:center;">
                        <h1>10,000+ Travel Experiences in 25+ Countries</h1>
                        <h3>BE THERE, DO THAT!</h3>
                    </div>
                    <div>
                        <form action="" method="POST">
                            {% csrf_token %} {{ form }}
                            <button class="btn btn-primary"  type="submit">Go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding-top: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <b>At BookMYTrips You'll Get:</b>
                    </div>
                    <div class="col-sm">
                        <p><b>Wide Range:</b></p>
                        <p style="font-size:13px;"> 10,000+ Travel Experiences in 25+ Countries</p>
                    </div>
                    <div class="col-sm">
                        <p> <b>Easy Booking:</b> </p>
                        <p style="font-size:13px;"> Instant book with suppliers in real time</p>
                    </div>
                    <div class="col-sm">
                        <p> <b>Customer Experience:</b></p>
                        <p style="font-size:13px;"> With 98.7 CSAT we always exceed your expectations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 style="text-align: center; padding-top:20px;">Curated Travel Experiences Across The Globe</h2>
    {% if search %}
        <div style="display: flex; justify-content:space-around; margin:50px;">
        {% for s in search %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ s.title }}</h5>
                    <p class="card-text">book</p>
                    <a href="" class="btn btn-primary">Book Event</a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <div style="display: flex; justify-content:space-around; margin:50px;">
        {% for country in countries %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ country }}</h5>
                <p class="card-text">book</p>
                <a href="{% url 'main:tourselect' country %}" class="btn btn-primary">Explore</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2 style="text-align: center; padding-top:20px;">Popular Tours </h2>

    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>