{% extends "account/base.html" %} 
{% load bootstrap %} 
{% load static %}
 {% load i18n %}
  {% load account socialaccount %}
   {% block head_title %}
   {% trans "Sign In" %}
   {% endblock %}
    {% block style %}
     {% endblock %}
      {% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'account/login.css' %}"> {% get_providers as socialaccount_providers %}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div> -->


        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}{{form|bootstrap }} {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
            <input type="submit" class="fadeIn fourth" value='{% trans "Sign In" %}'>
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        </div>

    </div>
</div>
<!-- {% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

</div>


{% include "socialaccount/snippets/login_extra.html" %} {% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %} -->

{% include 'footer.html' %}

<!-- <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %} {{ form|bootstrap }} {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="primaryAction" type="submit">{% trans "Sign In" %}</form></button> -->

{% endblock %}